streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
prophet==1.1.0
xgboost==2.0.3
ollama==0.1.9
openai==1.35.13
google-generativeai==0.7.1
matplotlib==3.8.4
seaborn==0.13.2
requests==2.32.3
plotly==5.22.0
scikit-learn==1.5.0